<!DOCTYPE html><head>
    <style>
        .btn-info {
            color: #fff;
             background-color: #0fd28a;
            border-color: #80ae90;
            margin: 5px;
    padding:10px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    font-size:18px;
    line-height:32px;
    
    
          }
    </style>
</head>


<form id="editProfileForm" method="post" action="{% url 'food:editar_usuario' user.id %}">
    {% csrf_token %}
    {{ form.as_p }}<br>
    <button class="btn-info" type="submit"><b>Guardar Cambios</b></button>
</form>
</html>